 	<div class="fluid-container" style="margin-top: 70px">
      <div class="row">
        <div id="title">
        	<h1>Welcome to Market Madness</h1>
        	<h2><%= link_to "Sign up", "#sign_up", "data-toggle" => "modal"%> to receive our newsletter or <%= link_to "proceed to the madness", stocks_path %></h2>
        </div>
      </div>
    </div>
