/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 */
@import "bootstrap";
@import "bootstrap-sprockets";
@import "stocks";

html {
  height: 100%;
  overflow: hidden;

    
}
body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: auto;
  background-image: url("/assets/stockmarket.jpg");
}

.navbar {
  margin-top: 5px;
  color: #F8F8FF;
  background-color: rgba(239, 244, 252, 0);
  border: 0;
}

.navbar .navbar-brand {
  text-align: center;
  font-size: 60px;
  font-family: "Bangers", sans-serif;
  color: #F8F8FF;
  margin: 0 0 -1em 0;
  text-shadow: -2px -2px black, 2px 2px black,  4px 4px black;

}

.navbar-default .navbar-nav > li > a{
  font-size: 20px;
  color: white;
}


