// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input {
	color: black;
}

#details {
	border: 1px solid yellow;
	border-radius: 25px;
	width: 40%;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	margin: auto;
	margin-top: 5%;
	color: white;
}

.actions {
	color: black;
}

a {
	color: yellow;
}

